body {
	background: lightgreen;
}

#todo, #todo a {
	width: 100%;
	height: auto;
	background: #aaa;
	color: blue;
	font-family: 'Courier New', Courier, monospace;
	font-size: 20px;
	font-weight: bold;
}

#todo a:hover {
	color: red;
}

#container {
	width: 100%;
	height: auto;
	background-color: white;
	border: 3px solid red;
}
.c_b {
	width: 100%;
	height: 20px;
	font-style: courier;
	font-size: 15px;
	background-color: #ccc;
	border: 1px solid green;
}
#b_dt {
	height: 100px;
}

a:hover {
	color: red;
}

table tr th {
	background-color: #888;
}
table tr:not(:first-child) {
	cursor: pointer;
	transition: all .25s ease-in-out;
}
table tr:not(:first-child):hover {
	background-color: #aaa;
}
